    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-left">
        <!--/main-->
        <div class="col-xs-12 col-sm-12" data-spy="scroll" data-target="#sidebar-nav">
          <div class="row">
          	<div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="panel panel-default">
              	<div class="panel-heading">
                  <h4>Top Ranked Teams</h4>
                </div>
                <div class="panel-body latest-games">
                  <div class="list-group">
		            <table class="table table-bordered">
		                <thead>
		                    <tr>
		                        <td>Rank</td>
		                        <td>Team</td>
		                        <td>Rating</td>
		                    </tr>
		                </thead>
		                {%for team in container.teamsSorted[:10]  %}		                
		                <tr>        
		                    <td>{{ container.teamRankOrBlank(team.key.id())  }}</td>
		                    <td>
		                        <a href="/team/teamId={{team.key.id()}}&&lotId={{container.lot.key.id()}}">{{team.name|escape}}</a>
		                    </td>
		                    <td>{{ container.lot.teamRating.get(team.key.id(), 0)|int }}</td>
		                </tr>		                
		                {%endfor%}
		            </table>
		            <a href="/allteams/{{container.lot.key.id()}}" class="pull-right">View all</a>	
                  </div>
                 </div>
              </div>
             
              <div class="panel panel-default">
              	<div class="panel-heading">
                  <h4>Players Currently Joined</h4>
                </div>
                <div class="panel-body latest-games">
                  <div class="list-group">
		            <table class="table table-bordered">
		                <thead>
		                    <tr>
		                        <td>Rank</td>
		                        <td>Team</td>
		                        <td>Rating</td>
		                    </tr>
		                </thead>
		                {%for team in container.teamsSorted  %}
		                {%if team.key.id() in container.lot.teamsParticipating %} 
		                <tr>        
		                    <td>{{ container.teamRankOrBlank(team.key.id())  }}</td>
		                    <td>
		                        <a href="/team/teamId={{team.key.id()}}&&lotId={{container.lot.key.id()}}">{{team.name|escape}}</a>
		                    </td>
		                    <td>{{ container.lot.teamRating.get(team.key.id(), 0)|int }}</td>
		                </tr>
		                {%endif%}
		                {%endfor%}
		            </table>
                  </div>
                 </div>
               </div>
             
             </div>
              
            <div class="col-xs-12 col-sm-6 col-lg-5">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <ul class="pagination pagination-lg pager pull-right" id="myPager"></ul>
                  <h4>Latest Games</h4>
                </div>
                <div class="panel-body latest-games">
                  <div class="list-group">
			            <table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td><b>Game</b></td>
			                        <td><b>Winner</b></td>
			                        <td><b>Date Ended</b></td>
			                    </tr>
			                </thead>
							<tbody id="myTable">
							{% set gamesFinished = container.getFinishedGames()%}
			                {%for game in gamesFinished|sort(attribute='dateEnded', reverse=True)%}  
			                <tr>
			                    <td>
			                        <a href="http://warlight.net/MultiPlayer?GameID={{ game.wlnetGameID}}">{{ container.teams[game.teams[0]].name|escape }} vs {{ container.teams[game.teams[1]].name|escape }}</a>
			                    </td>
			                    <td>			                        
			                        {{ container.teams[game.winner].name|escape }}			                        
			                    </td>
			                    <td>
			                    	{{ game.dateEnded.strftime('%Y-%m-%d %H:%M') }}
			                    </td>
			                </tr>
			                {%endfor%}
							</tbody>
			            </table>
                  </div>
                </div>
                <!--/panel-body-->
              </div>
              <!--/panel-->              
            </div>
            <!--/col-->
            <!-- Templates and FAQs -->
            <div class="col-xs-12 col-sm-6 col-lg-4">              
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>FAQs</h4>
                </div>
                <div class="panel-body">
                  <div id="content">
		            <ul class="nav nav-tabs" id="myTab">
					  <li class="active"><a data-target="#about" data-toggle="tab">About</a></li>
					  <li><a data-target="#gameallocation" data-toggle="tab">Game Allocation</a></li>
					  <li><a data-target="#ranking" data-toggle="tab">Player Ranking</a></li>
					  <li><a data-target="#other" data-toggle="tab">Other</a></li>
					</ul>
		
					<div class="tab-content">
					  <div class="tab-pane active" id="about">
					  	<br/>				  	
		  				<b>What is this all about?</b>
		  				<p>This is a custom ladder based on the 3v3 EU 0% SR. </p> 
					  	<br/>			  	
					  </div>
					  <div class="tab-pane" id="gameallocation">	
						<br/>				  	
		  				<b>How are games allocated?</b>
		  				<p>Games are allocated amongst teams currently joined on the ladder. The ladder tries to pair similar teams together.</p> 
					  	<br/>					  	
					  	<b>How frequently are games scheduled?</b>
					  	<p>Games are scheduled every 3 hours.</p>
					  	<br/>					  	
					  	<b>How is my next opponent determined?</b>
					  	<p>Let your current rank be R. From the list of teams currently active on the ladder, you may be randomly assigned an opponent within R-10 to R+10 ranks.</p>
					  	<br/>
					  	<b>How often can I play the same opponent?</b>
					  	<p>Two teams cannot play each more than once in 3 days.</p>
					  	<br/>
					  </div>
					  <div class="tab-pane" id="ranking">					  	
					  	<br/>				  	
		  				<b>How are teams ranked?</b>
		  				<p>Teams are ranked on this ladder using the TrueSkill Ranking algorithm. This system awards points only at the end of a game and does not make any further updates based on future results.</p>
					  </div>
					  <div class="tab-pane" id="other">
					  	<br/>
					  	<b>If I forget to leave the ladder, what will happen?</b>
					  	<p>You will be allocated a game in the next cycle. If you will lose that game on autoboot, your team will be removed from the ladder, so as to prevent further game allocations.</p>
					  	<br/>
					  </div>
					</div>
				  </div>      
                </div>
                <!--/panel-body-->
              </div>
              <!--/panel-->
              <div class="panel panel-default">
                <div class="panel-heading">                  
                  <h4>Templates Used</h4>
                </div>
                <div class="panel-body">
					<ul>
						<li>
							<a href="https://www.warlight.net/MultiPlayer?TemplateID=708081">708081</a> : 3v3 Europe 0% SR
						</li>						
					</ul>	           
                </div>
                <!--/panel-body-->
              </div>
              <!--/panel-->
            </div>
            <!--/row-->
          </div>
          <!--/.row-->
        </div>
      </div>
      <!--/.container-->
    </div>
    <!--/.page-container-->